<html>
<head>
    <title>Subscribe for images upload</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Subscribe for image uploads</h1>
        <p class="lead">Please enter your email, you will get a notification when the image was uploaded</p>

        <form action="/subscribe" method="post" name="emailSubscription">
            <div class="mb-3">
                <input class="mb-1" type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <br/>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </form>

    </div>
</main>

</body>
</html>