<html>
<head>
    <title>Subscribe for images upload</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Subscribe for image uploads</h1>
        <p class="lead">Please check your email for completing subscription.</p>
    </div>
</main>

</body>
</html>